@import "tailwindcss";

@theme {
  --color-avoda-cream: #FDFCF0;
  --color-avoda-gold: #D4AF37;
  --color-avoda-gold-light: #E5C158;
  --color-avoda-green-dark: #0A2514;
  --color-avoda-green: #113B22;

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

:root {
  --background: #FFFFFF;
  --foreground: var(--color-avoda-green-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-avoda-green-dark);
    --foreground: var(--color-avoda-cream);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
